[Desktop Entry]
Version=4.2
Name=UrT42
Name[es]=UrT42
GenericName=Urban Terror
GenericName[es]=Urban Terror
Comment=Game Urban Terror
Comment[es]=Juego Urban Terror
Exec=Quake3-UrT %U
Icon=/usr/share/icons/urt42_engine.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
