[Desktop Entry]
Version=4.2
Name=UrT42 server
Name[es]=UrT42 server
GenericName=Urban Terror
GenericName[es]=Urban Terror
Comment=Game Urban Terror
Comment[es]=Juego Urban Terror
Terminal=true
Exec=Quake3-UrT-Ded +set fs_game q3ut4 +set dedicated 2 +set net_port 27960 +set com_hunkmegs 128 +exec server.cfg
Icon=/usr/share/icons/urt42_server.png
Type=Application
Categories=Game;ActionGame;
